<header>
  <h2>
    User Index
  </h2>
</header>

<article>
  <% @users.each do |u| %>
    <table>
      <tr>
        <th>
          User Name:
        </th>
        <td>
          <%= link_to u.name, user_path(u) %>
        </td>
      </tr>
      <tr>
        <th>
          User Email:
        </th>
        <td>
          <%= u.email %>
        </td>
      </tr>
      <tr>
        <th>
          User Since:
        </th>
        <td>
          <%= present_created_at u %>
        </td>
      </tr>
    </table>
    <br />
  <% end %>
</article>
