<header>
  <h2>
    Showing <%= @user.name %>'s account
  </h2>
</header>

<article>
    <table>
      <tr>
        <th>
          User Name:
        </th>
        <td>
          <%= @user.name %>
        </td>
      </tr>
      <tr>
        <th>
          User Email:
        </th>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      <tr>
        <th>
          User Since:
        </th>
        <td>
          <%= present_created_at @user %>
        </td>
      </tr>
    </table>
    <br />
</article>
