<aside id="sidebar">
  <ul class="no-dot">
    <li>
      <%= link_to "All Projects", projects_path, class: "page-link" %>
    </li>
    <li>
      <%= link_to "Add New Project", new_project_path, class: "page-link" %>
    </li>
  </ul>
</aside>
